.home__main {
	background: url('../../../img/bg.jpg') 50% no-repeat;
	background-size: cover;
	/* background: black; */
	width: 100%;
	min-height: 100%;
	border-top: 1px solid transparent;
	padding-bottom: 80px;
}

.home__title {
	text-align: center;
	color: #fff;
	margin-top: 170px;
	font-family: AmaticSC;
	font-size: 60px;
}

.home_caption {
	text-align: center;
	color: #fff;
	font-family: AmaticSC;
	font-size: 60px;
}

.home__new-container {
	display: block;
	width: 200px;
	margin: 0 auto;
	background: #ffffffc5;
	color: rgb(0, 0, 0);
	padding: 40px;
	border-radius: 20px;
	border-bottom-right-radius: 0;

	position: relative;
}

.home__new-container::after {
	content: '';
	position: absolute;
	border: 15px solid transparent;
	border-top: 25px solid #ffffffc5;
	right: 0;
	bottom: -40px;
}

.home__new-text {
	resize: none;
	display: block;

	/* border: none; */
	background: transparent;
	width: 100%;
	height: 100px;
}

.home__new-btn{
	padding: 10px;
	display: block;
	background: #a330a3;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	border: none;
	margin-top: 10px;
}


.home_desc{
	color: black;
	text-transform: uppercase;
	text-align: center;
}